<!DOCTYPE html>
<html>
<head>
  <title>
    Error 404 | Pragati
  </title>
  <link href="static/css/error.css" rel="stylesheet"/>
  <meta name="robots" content="noindex"/>
  <meta name="robots" content="nofollow"/>
  <link rel="manifest" href="manifest.json"/>
  <meta name="theme-color" content="#704266"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=no"/>
  <link href="static/images/fav_icon.png" rel="icon"/>
</head>
<body>
  <div class="table full_w full_H">
    <div class="table_cell">
      <div class="error_files">
        <div class="image_wrapper center_align">
          <div class="inline_top image_wrapper_anim">
            <div class="error_image">
              <img src="static/images/error_ghost.png" class="mw inline_top"/>
            </div>
            <div class="ghost_shadow">
            </div>
          </div>
        </div>
        <div class="error_div">
          <div class="error">
            We tried hard but could not find your page!
          </div><div class="btns">
            <a href="/" class="m10 everyOtherSubtleButton inline_top">
              Go to home
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
